
###> ignore python folders ###
/.eggs
/.ipynb_checkpoints
/*.egg-info
/ccf/__pycache__
/ccf/version.py
/notebooks/.ipynb_checkpoints
/notebooks/*.nc
/scripts/*.nc
###< ignore python folders ###


###> ignore specific filetypes ###
*.key
*.swp
*.DS_Store
###< ignore specific filetypes ###
