
###> ignore python folders ###
/*.egg-info
/ccf/__pycache__
/notebooks/.ipynb_checkpoints
/notebooks/*.nc
/scripts/*.nc
###< ignore python folders ###


###> ignore specific filetypes ###
*.key
*.swp
*.DS_Store
###< ignore specific filetypes ###
